*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

.cabeçalho {
    background-color: #010000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 11%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.Obsessão-imagem{
    width: 10%;
}

.lançamento{
    background-image: linear-gradient(#010000,#8e1017);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.lançamento-div{
    width: 40%;
}
.título-livro{
    padding: 24px 0;
}
.livro-alt{
    width: 150px;
}
.livro-ícone{
    width: 24px;
}
.ícones-div{
    text-align: center;
}